@model crmInmobiliario.Models.MediosEnterarse

@{
    ViewBag.Title = "Details";
}

<h2>Datos de Medio de Enterarse</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Medio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medio)
        </dd>

    </dl>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
            <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "MediosEnterarse")';return false;"><i class="fa fa-chevron-left"></i> Volver</button>
            <button class="btn btn-success" onclick="location.href='@Url.Action("Edit", "MediosEnterarse", new { id = Model.IdMedio })';return false;"><i class="fa fa-pencil"></i> Editar</button>
        </p>
    </div>
</div>