@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <img class="center-block" src="~/Content/Img/Quantium.png" alt="" />
    <p class="lead"></p>
    @if (!Request.IsAuthenticated)
    {
        <button class="btn btn-success btn-lg" onclick="location.href='@Url.Action("Login", "Account")';return false;"><i class="fa fa-sign-in"></i> Iniciar Sesión</button>
    }

</div>

<div class="row">
    <div class="col-md-4">
    
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
</div>