<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CRMReportes.Properties.Settings.CRMINMOBILIARIO" connectionString="Data Source=184.107.136.186;Initial Catalog=CRMINMOBILIARIO;User ID=usercrm;Password=.crminmobiliario.;MultipleActiveResultSets=True;Application Name=EntityFramework"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>