body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

table {
    margin-top: 20px;
}

.btn-tblsolc {
    font-size: 12px;
    margin: 2px auto;
    max-width: 36px;
    max-height: 24px;
    padding-top: 4px!important;
    padding: 8px;
}

.form-group-sm form-control{
    max-width: auto;
}

.nota{
    min-width: 40%;
}

.logo{
    max-height: 30px;
}

.inline{
    display:inline;
}

.navbar-right{
    padding-right: 10px;
}

.uppercase{
    text-transform: uppercase;
}

.groupform{
    margin-bottom: 15px;
}

.panel{
    padding: 15px;
    background-color: #fafbff; 
}

/*Ajustes de iconos font awesome*/

button.navbar-toggle {
    padding: 6px 20px;
    margin: 4px 8px 4px 4px;
    font-size: 1.8em;
}

.btn-lista{
    max-width: 45px;
}

/*Custom css para navbar collapse*/

@media (max-width: 982px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
}

/*Media query para que los UL del navbar tengan solo el ancho necesario*/
@media (min-width: 982px) {
    .container {
        width: auto;
    }
}

#Google {
    color: #fff;
    background-color: #dd4b39;
}

#Facebook {
    color: #fff;
    background-color: #3b5998;
}

.fa-google-plus, .fa-facebook-square{
    vertical-align:central;
    font-size: 18px;
}

/*Ajustes Chosen.js*/

.chosen-search input {
    width: 100%;
}

.chosen-select,.chosen-container-single .chosen-single {
    background-color: #fff;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.chosen-container-active {
    border-color: #66afe9;
}