
@{
    ViewBag.Title = "ValidacionRealizada";
}


<br /><br /><br /><br />

<div class="alert alert-success" role="alert">
    <h2><i class="fa fa-flag-checkered"></i> La Validación se realizó correctamente!!!</h2>
</div>

<br /><br /><br /><br />
<br /><br /><br /><br />
