
@{
    ViewBag.Title = "PermisoDenegado";
}

<h2>Permiso Denegado</h2>

<div class="alert alert-danger" role="alert">
    <strong>ATENCIÓN !!!</strong> <h3>No tiene los permisos suficientes para esta operación</h3>
    <p>Si usted cree que esto es un Error, favor de comunicarlo al Administrador del Sistema</p>
</div>